--
-- PostgreSQL database dump
--

\restrict cc7nUYStherJopySuxBiCmClTbh07OxkAx2zFnHXv1QT96nu5aMKWTzC1rvOGjl

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: hmti_ump
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO hmti_ump;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: hmti_ump
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Aspirasi; Type: TABLE; Schema: public; Owner: hmti_ump
--

CREATE TABLE public."Aspirasi" (
    id integer NOT NULL,
    name text NOT NULL,
    nim text NOT NULL,
    email text NOT NULL,
    aspirasi text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Aspirasi" OWNER TO hmti_ump;

--
-- Name: Aspirasi_id_seq; Type: SEQUENCE; Schema: public; Owner: hmti_ump
--

CREATE SEQUENCE public."Aspirasi_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Aspirasi_id_seq" OWNER TO hmti_ump;

--
-- Name: Aspirasi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hmti_ump
--

ALTER SEQUENCE public."Aspirasi_id_seq" OWNED BY public."Aspirasi".id;


--
-- Name: Member; Type: TABLE; Schema: public; Owner: hmti_ump
--

CREATE TABLE public."Member" (
    id integer NOT NULL,
    name text NOT NULL,
    role text NOT NULL,
    department text NOT NULL,
    "imageUrl" text NOT NULL,
    instagram text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Member" OWNER TO hmti_ump;

--
-- Name: Member_id_seq; Type: SEQUENCE; Schema: public; Owner: hmti_ump
--

CREATE SEQUENCE public."Member_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Member_id_seq" OWNER TO hmti_ump;

--
-- Name: Member_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hmti_ump
--

ALTER SEQUENCE public."Member_id_seq" OWNED BY public."Member".id;


--
-- Name: Mentor; Type: TABLE; Schema: public; Owner: hmti_ump
--

CREATE TABLE public."Mentor" (
    id integer NOT NULL,
    name text NOT NULL,
    role text NOT NULL,
    "imageUrl" text NOT NULL,
    instagram text NOT NULL,
    github text NOT NULL,
    linkedin text NOT NULL
);


ALTER TABLE public."Mentor" OWNER TO hmti_ump;

--
-- Name: Mentor_id_seq; Type: SEQUENCE; Schema: public; Owner: hmti_ump
--

CREATE SEQUENCE public."Mentor_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Mentor_id_seq" OWNER TO hmti_ump;

--
-- Name: Mentor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hmti_ump
--

ALTER SEQUENCE public."Mentor_id_seq" OWNED BY public."Mentor".id;


--
-- Name: Proker; Type: TABLE; Schema: public; Owner: hmti_ump
--

CREATE TABLE public."Proker" (
    id integer NOT NULL,
    dept text NOT NULL,
    title text NOT NULL,
    "desc" text NOT NULL,
    img text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Proker" OWNER TO hmti_ump;

--
-- Name: Proker_id_seq; Type: SEQUENCE; Schema: public; Owner: hmti_ump
--

CREATE SEQUENCE public."Proker_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Proker_id_seq" OWNER TO hmti_ump;

--
-- Name: Proker_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hmti_ump
--

ALTER SEQUENCE public."Proker_id_seq" OWNED BY public."Proker".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: hmti_ump
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO hmti_ump;

--
-- Name: Aspirasi id; Type: DEFAULT; Schema: public; Owner: hmti_ump
--

ALTER TABLE ONLY public."Aspirasi" ALTER COLUMN id SET DEFAULT nextval('public."Aspirasi_id_seq"'::regclass);


--
-- Name: Member id; Type: DEFAULT; Schema: public; Owner: hmti_ump
--

ALTER TABLE ONLY public."Member" ALTER COLUMN id SET DEFAULT nextval('public."Member_id_seq"'::regclass);


--
-- Name: Mentor id; Type: DEFAULT; Schema: public; Owner: hmti_ump
--

ALTER TABLE ONLY public."Mentor" ALTER COLUMN id SET DEFAULT nextval('public."Mentor_id_seq"'::regclass);


--
-- Name: Proker id; Type: DEFAULT; Schema: public; Owner: hmti_ump
--

ALTER TABLE ONLY public."Proker" ALTER COLUMN id SET DEFAULT nextval('public."Proker_id_seq"'::regclass);


--
-- Data for Name: Aspirasi; Type: TABLE DATA; Schema: public; Owner: hmti_ump
--

COPY public."Aspirasi" (id, name, nim, email, aspirasi, "createdAt") FROM stdin;
\.


--
-- Data for Name: Member; Type: TABLE DATA; Schema: public; Owner: hmti_ump
--



--
-- Data for Name: Mentor; Type: TABLE DATA; Schema: public; Owner: hmti_ump
--

COPY public."Mentor" (id, name, role, "imageUrl", instagram, github, linkedin) FROM stdin;
1	Muhammad Naufal	web dev	https://res.cloudinary.com/di9ls9t2u/image/upload/v1779767664/nopal_ristek_azqhcf.jpg			
\.


--
-- Data for Name: Proker; Type: TABLE DATA; Schema: public; Owner: hmti_ump
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: hmti_ump
--



--
-- Name: Aspirasi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hmti_ump
--

SELECT pg_catalog.setval('public."Aspirasi_id_seq"', 1, false);


--
-- Name: Member_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hmti_ump
--

SELECT pg_catalog.setval('public."Member_id_seq"', 41, true);


--
-- Name: Mentor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hmti_ump
--

SELECT pg_catalog.setval('public."Mentor_id_seq"', 1, true);


--
-- Name: Proker_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hmti_ump
--

SELECT pg_catalog.setval('public."Proker_id_seq"', 54, true);


--
-- Name: Aspirasi Aspirasi_pkey; Type: CONSTRAINT; Schema: public; Owner: hmti_ump
--

ALTER TABLE ONLY public."Aspirasi"
    ADD CONSTRAINT "Aspirasi_pkey" PRIMARY KEY (id);


--
-- Name: Member Member_pkey; Type: CONSTRAINT; Schema: public; Owner: hmti_ump
--

ALTER TABLE ONLY public."Member"
    ADD CONSTRAINT "Member_pkey" PRIMARY KEY (id);


--
-- Name: Mentor Mentor_pkey; Type: CONSTRAINT; Schema: public; Owner: hmti_ump
--

ALTER TABLE ONLY public."Mentor"
    ADD CONSTRAINT "Mentor_pkey" PRIMARY KEY (id);


--
-- Name: Proker Proker_pkey; Type: CONSTRAINT; Schema: public; Owner: hmti_ump
--

ALTER TABLE ONLY public."Proker"
    ADD CONSTRAINT "Proker_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: hmti_ump
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: hmti_ump
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict cc7nUYStherJopySuxBiCmClTbh07OxkAx2zFnHXv1QT96nu5aMKWTzC1rvOGjl

